.nav__wrapper{
    width:100%; 
    margin: 0 auto;
}

img{
    width:6.066rem;
    object-fit: cover;
}

.nav__container{
    margin: 0 auto;
    padding: 1rem;
    width:90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.nav__links{
    display:flex;
    justify-content:space-between;
  margin-right: 2.7rem;
    width: 12%;
    
}
a {
    color:
    rgb(136, 136, 136);
    text-decoration: none; 
}

.posts:hover {

    text-decoration: underline;

  }