.table__wrapper {
  margin: 0 auto;
  text-align: center;

  width: 100%;
  height: 100%;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 1rem;
}
th {
  background-color: rgb(136, 136, 136);
  width: 8rem;
  opacity: 0.9;
}

td {
  background-color: rgba(238, 230, 230, 0.308);
}

input {
  margin-top: 1rem;
  outline: none;
}

button {
  margin-top: 1.7rem;
  padding: 0.2rem;
}

/*                                    Responsividade da tabela                                     */

@media (max-width: 1115px) {
  .table__wrapper {
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: 950px) {
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Id";
  }
  td:nth-of-type(2):before {
    content: "First Name";
  }
  td:nth-of-type(3):before {
    content: "Last Name";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Gender";
  }
  td:nth-of-type(6):before {
    content: "Ip";
  }
}
